.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-16);
  padding: var(--padding-1);
  font-size: var(--font-size-1);
  background-color: var(--color-light);
}
.button {
  height: var(--icon-height);
  background-color: transparent;
}