.wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap-32);
  padding: var(--padding-1);
}
.info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: var(--gap-16);
}
.wrapper-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-medium);
  font-weight: 600;
  line-height: 32px;
}
.description-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}