.footer {
  font-size: var(--font-size-20);
  color: var(--color-light);
  display: flex;
  max-width: 1920px;
  padding: var(--widget-padding);
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-1);
}